create table public.saved_readings ( id bigint generated by default as identity primary key, user_id uuid references auth.users not null, name text not null, birthdate text not null, destiny_number integer not null, soul_urge_number integer not null, personality_number integer not null, life_path_number integer not null, birthday_number integer not null, created_at timestamp with time zone default timezone('utc'::text, now()) not null ); alter table public.saved_readings enable row level security; create policy \
Users
can
view
their
own
readings\ on public.saved_readings for select using (auth.uid() = user_id); create policy \Users
can
insert
their
own
readings\ on public.saved_readings for insert with check (auth.uid() = user_id); create policy \Users
can
delete
their
own
readings\ on public.saved_readings for delete using (auth.uid() = user_id);
